<section>
  <h2>Add Author</h2>
  <form action="/authors/addauthors" method="POST">
    <label for="first_name">First Name</label>
    <input name='first_name' type='text' id='first_name'>

    <label for="last_name">last_name</label>
    <input name='last_name' type='text' id='last_name'>

    <label for="description">Bio</label>
    <textarea rows='10' cols='30' name='description' id='description'></textarea>

    <label for="image">Picture URL</label>
    <input name='image' type='url' id='image'>

    <input type="submit" value="Submit">
  </form>
</section>
