<img src="http://www.galvanize.com/wp-content/themes/galvanize/img/galvanize-logo.svg"  />

<h1>{{title}}</h1>
<p>Welcome to {{title}}</p>
<div class="row">
        <div class="col s12 m7">
          <div class="card">
            <div class="card-image">
              <img src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS4Q2qwowl7VtJ2rUF0c2f8PofVKEy1Nl4YS1XyxIpPz47ZdI5rKQ'>
              <span class="card-title">Card Title</span>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information.
              I am convenient because I require little markup to use effectively.</p>
            </div>
            <div class="card-action">
              <a href="/books">Books</a>
            </div>
          </div>
        </div>
      </div>
