<h1>{{title}}</h1>
<div class="row">
    <div class="col s6 m5 offset-m1">
        <div class="card">
            <div class="card-image">
                <img src='https://encrypted-tbn2.gstatic.com/images?q=tbn:ANd9GcS4Q2qwowl7VtJ2rUF0c2f8PofVKEy1Nl4YS1XyxIpPz47ZdI5rKQ'>
            </div>
            <div class="card-content">
                <p>A great resource for books about coding and other great topics!</p>
            </div>
            <div class="card-action">
                <a href="/books">Books</a>
            </div>
        </div>
    </div>

    <div class="col s6 m5">
        <div class="card">
            <div class="card-image">
                <img src='https://encrypted-tbn3.gstatic.com/images?q=tbn:ANd9GcSOvDNiaI9vB-oW0evSt35HfVFojY5AHoObcstSf2mgrXAWNwzQAQ'>

            </div>
            <div class="card-content">
                <p>A great resource for authors that expertise in coding and other great areas!</p>
            </div>
            <div class="card-action">
                <a href="/authors">Authors</a>
            </div>
        </div>
    </div>
</div>
